{% extends 'base.html.twig' %}

{% block body %}
    <h1>Measurement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Temperature</th>
                <th>Description</th>
                <th>Emoji_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.datetime ? measurement.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.description }}</td>
                <td>{{ measurement.emojiId }}</td>
                <td>
                    {% if is_granted('ROLE_MEASUREMENT_SHOW') %}
                    <a href="{{ path('app_measurement_show', {'id': measurement.id}) }}">show</a>
                    {% endif %}

                    {% if is_granted('ROLE_MEASUREMENT_EDIT') %}
                    <a href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_MEASUREMENT_NEW') %}
    <a href="{{ path('app_measurement_new') }}">Create new</a>
    {% endif %}
{% endblock %}